@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i&subset=latin-ext');
body{
    font-family: 'Roboto';
}
#menu{
    background-color:#fc0421;
}
a.navbar-brand{
    color: #ffffff !important;
}
span.gray{
    color: #333333 !important;
}
span.red{
    color: #fc0421 !important;
}
nav{
    font-weight: 700;
    font-size: 20px !important;
}
li > a{
    color: #ffffff !important;
}
.imagecentered{
    text-align: center;
    width: 100%;
    height: 300px;
    background-image: url(http://placehold.it/1920x300);
    background-position: center;
    background-size: cover;
}
.imageabout{
    margin-top: 20px;
    margin-bottom: 20px;

}
.about{
    background-color: #333333;
    color: white;
}
.rent{
    background-color: #fc0421;
    color: white !important;
}
.creators{
    background-color: #333333;
    color: white !important;
}
.photo{
    float: left;
}
.crea_content{
    float: left;
}
.rentButton{
    background-color: #333333;
    border: none;
    padding: 30px 40px;
    font-size: 40px;
    border-radius: 15px;
    margin: 10px;
}